
.main-bg {
    background: url("../images/headshot.jpg") no-repeat top center black fixed;
}

#name {
    font-family: 'EB Garamond', serif;
    /* font-family: montserrat; */
    font-size: 96px;
    color: #fff;
    text-justify: center;
    text-shadow: 2px 2px 2px rgb(150, 150, 150);
    letter-spacing: .6em;
    margin-left: 118px;
}

.container-fluid{
    overflow: hidden;
}
    
.uppercase {
    text-transform: uppercase;
}

.gold {
    color: gold;
}

.full-height {
    height: 120vh
}

.section-heading {
    margin-top: 120px;
}

.nav {
    background: rgba(243, 242, 242, 0.1);
    opacity: 1;
    transition:0s;
    /* transition-duration: 180s; */
}

/* .nav-sib:hover + .nav { opacity: 1; } */

.nav-link {
    color: white;
    font-size: 28px;
    margin-left: 15px;
    margin-right: 15px;
    text-shadow: 1px 1px 1px rgb(150, 150, 150);
}

/* Music Div */
.music {
    background: rgb(150, 150, 150, .5);
    color: white;
    
}

.accent_line {
    color: gold;
}


.mailing-list-text {
    width: 100%;
    margin-top: 50px;
}

.email-input {
    width: 560px;
    background: black;
    color: gold;
    padding-left: 10px;
    padding-bottom: 3px;
    margin-bottom: 10px;
    border: 1px solid white;
}

.email-input::placeholder {
    color: gold;
}

.submit-email {
    width: 560px;
    margin-bottom: 10px;
    color: grey;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 50px;
}

/* About Div */
.about {
    background: rgba(41, 41, 41, 0.5)
}

/* Contact Div */
.contact {
    background: rgba(253, 255, 143, 0.5)
}
